<div class="container cards">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-block">
                <form action="/meetups/new" method="POST">
                    <div>
                        <label for="title">title</label>

                        <input type="text" id="title" name="title">
                    </div>

                    <div><label for="description">description</label>
                        <textarea type="text" rows="3" id="description" name="description"></textarea>
                    </div>


                    <div id="datetimepicker" class="input-append date">
                        <label for="time">Time</label>
                        <input type="text" name="time" id="time">
                        <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>

                    <div class="googleMap">
                        <div>
                            <div>
                                <!--prompt user to focus on an area of the city-->
                                <!--zoom to keep page a little neater-->
                                <input id="zoom-to-area" type="button" value="Zoom">
                            </div>
                        </div>
                        <hr>
                        <div>
                            <!--<div>-->
                                <!--<label for="location">location</label>-->
                                <!--<input type="text" id="location" name="location">-->
                            <!--</div>-->
                            <input id="search-within-time-text" type="text"
                                   placeholder="Ex: Denver, CO">
                        </div>
                        <hr>
                    </div>

                    <button type="submit">save</button>
                </form>
            </div>
        </div>
    </div>
</div>
