<form action="/meetups/new" method="POST">
    <textarea type="text" rows="10" id="title" name="title">
    </textarea>
    <label for="title">title</label>

    <textarea type="text" rows="10" id="description" name="description">
    </textarea>
    <label for="description">description</label>

    <textarea type="text" rows="2" id="location" name="location">
    </textarea>
    <label for="location">location</label>

    <textarea type="dateTime" rows="1" id="time" name="time">
    </textarea>
    <label for="time">time</label>

    <textarea type="dateTime" rows="1" id="created_on" name="created_on">
    </textarea>
    <label for="created_on">created on</label>

    <button type="submit">save</button>
    <button type="submit" formaction="delete">delete</button>
</form>
