<div class="container cards">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-block">
                <form action="/meetups/new" method="POST">
                    <div>
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title">
                    </div>

                    <div><label for="description">Description</label>
                        <textarea type="text" rows="3" id="description" name="description"></textarea>
                    </div>

                    <div id="datetimepicker" class="input-append date">
                        <label for="time">Date & Time</label>
                        <input type="text" name="time" id="time">
                        <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                      </span>
                    </div>

                    <div class="googleMap">
                        <hr>
                        <label for="location" id="location">Location</label>
                        <div class="input-group">
                            <input id="zoom-to-area-text" name="address" type="text">
                        </div>
                        <hr>
                    </div>
                    <button type="submit">save</button>
                        <div id="map"></div>
                </form>
            </div>
        </div>
    </div>
</div>
