<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
	<nav class="navb main-nav navbar">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
	      <div class="nav-item">
	          <a href="/"><img src="/images/gSpace.jpg" style="height: 50px" alt="LOGO" class='logo' /></a>
	      </div>

	        <li class="nav-item">
	            <a class="nav-link" href="/resources">Resources</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" href="/gflow">gFlow</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" href="/meetups">Meetups</a>
	        </li>
	        <li class="nav-item">
	            <a class="nav-link" href="/projects">Projects</a>
	        </li>
			</ul>
			<ul class="user-controls nav navbar-nav pull-xs-right">
				{{#if user}}
					<li class="nav-item">
							<a class="nav-link" href="/users/profile">Profile</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="/auth/github/logout">Logout</a>
					</li>
				{{else}}
					<li>
						<a class="nav-link" href="/auth/github">Login</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</nav>
    {{{body}}}

    <!-- JQuery first (and only once) -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <!--used released version of bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="/scripts/jquery.timeago.js"></script>
    <script src="/scripts/homepage.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/gflow.js"></script>
</body>

</html>
