<form class="" action="/newUser" method="POST">
  <h2>New User</h2>

  <label for="first-name">Name</label>
  <input type="text" maxlength="255" name="first-name" id="first-name" required="required">

  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <label for="email">Email</label>
  <input type="email" name="email" id="email">

  <label for="cohort">Cohort</label>
  <input type="number" name="cohort" id="cohort">

  <label for="city">City</label>
  <input type="text" name="city" id="city">

  <label for="biography">About</label>
  <textarea name="biography" id="biography">Write a bio...</textarea>

  <label for="linkedin">Linkedin Profile</label>
  <input type="url" name="linkedin" id="linkedin">

  <label for="github">Github Profile</label>
  <input type="url" name="github" id="github">

  <label for="website">Personal Website</label>
  <input type="url" name="website" id="website">
</form>
