$black: hsla(202%, 20%, 18%, 1);
$lightblack: hsla(202%, 20%, 18%, 0.75);
// this is actually black... here is the orange from galvanize.com... hsl(32, 93%, 54%)
//$orange: hsla(32%, 93%, 54%, 1);

$grey: hsla(203%, 12%, 65%, 1);
$lightgrey: hsla(0%, 0%, 93%, 1);
$white: hsla(0%, 0%, 100%, 1);

$orange: hsla(32, 93%, 54%, 1);

// here is what these colors looks like currently: https://coolors.co/252525-1d1d1d-9b9b9b-ededed-ffffff

// with orange: https://coolors.co/252525-f7901e-9b9b9b-ededed-ffffff

//https://material.google.com/style/color.html#color-color-schemes

// primary hue 1, 2, 3

// accent (orange?) for text fields, cursors, text selection, progress bars, controls, buttons, sliders, links

