// .commentHead, .commentContainer{
//   text-align: center;
// }
// .subjectLabel {
//   padding-right: 17px;
// }
// .commentHead, .commentButton{
//   padding-left: 75px;
// }
.borderDiv{
  border: black 2px solid !important;
}
.floatLeft{
  display: block;
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.comment-card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 100px;
}
