// .commentHead, .commentContainer{
//   text-align: center;
// }
// .subjectLabel {
//   padding-right: 17px;
// }
// .commentHead, .commentButton{
//   padding-left: 75px;
// }
.borderDiv{
  border: black 2px solid !important;
}
.floatLeft{
  display: block;
  float: left;
}
