.meetups {
  margin-bottom: 40px;
  .card {
    padding: 20px;
    margin: 10px 0 25px 0;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3)
  }
  .new {
    display: inline-block;
    text-align: center;
    margin: 20px;
  }
  a {
    color: hsla(32, 93%, 54%, 1);
    &:hover {
      transform: scale(1.2);
      transform-origin: center center;
    }
  }
  .btn-primary {
    background-color: $orange;
  }
  .form {
    margin-bottom: 60px;
  }
}

//247, 145, 29