.media-resource {
	height: 100px;
	background: white;
}


.resource {
  border-bottom: 1px;
  border-style: solid;
  border-color: $grey;
  padding-bottom: 2%;
  padding-top: 2%;

  &:last-of-type {
    border-color: transparent;
  }
}

#header {
  @include header-text;
}

#profile-image {
  width: 100px;
  height: 100px;

}
