<form action="/gflow/{{item.questionid}}/edit" method="POST">

    <h2>Modify your question here:</h2>

    <textarea type="text" id="question text" name="text question">{{item.title}}></textarea>
    <label for="title">title</label>

    <textarea type="text" id="question text" name="text question"  >{{item.question}}</textarea>
    <label for="question">question</label>

    <button type="submit">save</button>
</form>
