<form action="/gflow/{{questionid}}/edit" method="POST">

    <h2>Modify your question here:</h2>

    <textarea type="text" rows="10" id="title" name="title">{{post.title}}</textarea>
    <label for="title">title</label>

    <textarea type="text" rows="10" id="question" name="question">{{post.question}}</textarea>
    <label for="question">question</label>

    <button type="submit">save</button>

    <button type="submit" formaction="delete">delete</button>
</form>
