{{#if user}}
	<br>
	<!-- <div class="text-xl-center">
		<a href="gflow/ask" class="btn btn-primary"><h1>Ask a Question</h1></a>
	</div> -->
	<div class="container" id="gflow-feed">
    <div class="row">
        <div class="col-sm-4">
            <h1 id="gflow-heading">gFlow</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
          <a href="gflow/ask"><button type="button" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i>Ask a Question</button></a>
            </div>
            <div class="col-sm-6">
                <form class="" action="/gflow/search" method="POST">
                    <div class="input-group">
                        <input name="search" type="text" class="form-control" placeholder="Tag"><span class="input-group-btn"><button class="btn btn-secondary" type="submit">Search</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

{{else}}
	<p>
		<a href="/login">Login</a> to ask a question
	</p>
{{/if}}

<div class="col-lg-3 offset-lg-9">
	<div class="card">
		<div class="list-group">
			<a href="#" class="list-group-item">Favorite 1 <span class="tag tag-default tag-pill pull-xs-right">1</span><i class="fa fa-star" aria-hidden="true"></i></a>
			<a href="#" class="list-group-item">Favorite 2 <i class="fa fa-star" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
