<div class="container jumbotron">
	<div class="row">
		<div class="col-lg-6 offset-lg-3 text-xs-center">
			<h1>What are you interested in?</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 offset-lg-4 text-xs-center">
			<a class="btn btn-info btn-lg" href="/meetups">Meetups</a>
			<a class="btn btn-warning btn-lg" href="/projects">Projects</a>
		</div>
	</div>
</div>
