<div class="topNavBar">
    <div class="logoContainer">
        <img src="/images/gSpace.jpg" alt="LOGO" class='logo' />
    </div>
    <div class="chatPicContainer">
        <img src="/images/chatIcon.jpg" alt="CHAT" class='chatButton' />
        <img src="/images/userImg.jpg" alt="PIC" class='picButton' />
    </div>
</div>
<h1 class="gflowLink"><span class="textBackground"><a href="/gflow">gFlow</a>  </span></h1>

<div class="diagonal">
    <span class="background"></span>
    <div class="content">

        <h1 class="collaborateLink">
          <span class="textBackground">
          <a href="/collaborate">Collaborate</a>
        </span>
      </h1>
    </div>
</div>

<h1 class="resourcesLink">
  <span class="textBackground">
    <a href="/resources">Resources</a>
  </span>
</h1>
