<!-- <div class="topNavBar">
    <div class="logoContainer">
        <img src="/images/gSpace.jpg" alt="LOGO" class='logo' />
    </div>
    <div class="chatPicContainer">
        <img src="/images/chatIcon.jpg" alt="CHAT" class='chatButton'
        <img src="/images/userImg.jpg" alt="PIC" class='picButton' />
    </div>
</div> -->
<div class="container-fluid vcenter">
  <div class="row col-lg-12">
    <div class="col-lg-4">
      <a href="/resources"><img src="/images/stack_of_books.jpg"  class='img-fluid'  alt="not found" /></a>
  	   <h1 class="resourcesLink"><span class="textBackground"><a href="/resources">Resources</a></span></h1>
    </div>
    <div class="col-lg-4">
      <a href="/gFlow"><img src="/images/Galvanize.jpg" class='img-fluid'  alt="not found" /></a>
      <h1 class="gflowLink"><span class="textBackground"><a href="/gflow">gFlow</a>  </span></h1>
    </div>
    <div class="col-lg-4">
      <a href="/collaborate"><img src="/images/collaboration.jpg" class='img-fluid'  alt="not found" /></a>
  	   <h1 class="collaborateLink"><span class="textBackground"><a href="/collaborate">Collaborate</a></span></h1>
     </div>
   </div>
</div>
