<div class="topNavBar">
      <div class="logoContainer">
        <img src="" alt="LOGO" class='logo'/>
      </div>
        <div class="chatPicContainer">
        <img src="" alt="CHAT" class='chatButton'/>
        <img src="" alt="PIC" class='picButton'/>
      </div>
</div>  
