<div class="topNavBar">
  <div class="logoContainer">
    <img src="logo.jpg" alt="LOGO" class='logo'/>
  </div>
  <div class="chatPicContainer">
    <img src="chatIcon.jpg" alt="CHAT" class='chatButton'/>
    <img src="userImg.jpg" alt="PIC" class='picButton'/>
  </div>
</div>
<div class="mainHomeDiv">
  <a href="resources"><img src="stack_of_books.jpg" alt="" class="leftPic"/></a>
  <h2><span>resources</span></h2>
  <a href=""><img src="" alt="" class=""/></a>
  <a href="gflow"><img src="Galvanize.jpg" alt="" class="middlePic"/></a>
  <h2><span>gflow</span></h2>
  <a href="collaborate"><img src="collaboration.jpg" alt="" class="rightPic"/></a>
  <h2><span>collaborate</span></h2>
</div>
