<h1>Edit Project Proposal</h1>

<form class="new-project" action="/projects/new" method="post">

	<label for="title">Project Title</label>
	<input type="text" name="title" value="{{project.title}}">

	<label for="proposal-body">Proposal body</label>
	<textarea name="body" rows="8" cols="40">{{project.body}}</textarea>

	<label for="repository_url">Repository URL</label>
	<input type="text" name="repository_url" value="{{project.repository_url}}">

	<button type="submit" name="new-proposal">Edit Project</button>

</form>
