
<div class="container">

	<h1>New Project</h1>

	<div class="row">
		
		<div class="col-lg-9 offset-lg-1">

			<form class="new-project" action="/projects/new" method="post">

				<div class="form-group">
					<label for="title">Project Title</label>
					<input class="form-control" type="text" name="title" placeholder="Projects title">
				</div>

				<div class="form-group">
					<label for="proposal-body">Proposal body</label>
					<textarea class="form-control" name="body" rows="8" cols="40" placeholder="This is where the body of your project proposal goes..."></textarea>
				</div>

				<div class="form-group">
					<label for="repository_url">Repository URL</label>
					<input class="form-control" type="text" name="repository_url" placeholder="Put the github url of your project repository.">
				</div>

				<input class='btn btn-primary pull-xs-right' type="submit" name="new-proposal" value="Post Project">
			</form>
		</div>
	</div>

</div>
